<div class='main-body'>
  <div class='main-content'>
    <div class='heading-with-links'>
      <h1 id='title-heading'>The Nourished Notebook</h1>
      <div class='title-links'>
        <p>blog</p>
        <p>about</p>
        <p>contact</p>
      </div>
    </div>

    <div class='filter-container'>
      <div class='filter-main-body'>
        <div class='filter-links'>
          <p>all</p>
          <p class='filter-select'>lifestyle</p>
          <p>gut health</p>
          <p>womens health</p>
          <p>recipes</p>
          <p>travels</p>
        </div>
      </div>
    </div>

    <div class='post-container'>
      <div class='add-post'>
        <%= link_to "+ Add", new_post_path, class: 'default-btn' %>
      </div>
    </div>

    <div class='post-container'>
      <div id="posts">
        <div class='post-box-body'>
          <% @posts.each do |post| %>
            <div class='image-margin'>
              <%= link_to edit_post_path(post) do %>
                <div class='post-box'>
                  <%= image_tag post.image, class: 'post-image' if post.image.attached? %>
                  <h2><%= post.title %></h2>
                  <p><%= post.body %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class='page-selector'>
      <div class='selector'>
        <div id='left-bracket'>
          <p><</p>
        </div>
        <div id='new-page'>
          <p>●  ○  ○  ○  ○</p>
        </div>
        <div id='right-bracket'>
          <p>></p>
        </div>
      </div>
    </div>
    
    <div class=footer-container>
      <div class='footer'>
        <div class='footer-line'>
        </div>
        <div class='footer-links'>
          <p>contact me</p>
          <p>about me</p>
          <p>instagram</p>
        </div>
        <div class='footer-legality'>
          <div class='footer-legality-spacing'>
            <p>Privacy ─ Terms</p>
            <p>© 2023</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>